:root {
    --grey: #f9f9ff;
    --bluegradient1: #8292ff;
    --bluegradient2: #71a8fd;
    --bluegradient3: #62bdfc;
    --footercolor: #04091e;
}

html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 30px;
    color: #222;
}
.description {
    font-size: 14px;
    color: #777;
    /* line-height: 2em; */
}

/* FOOTER start */
footer {
    background-color: var(--footercolor);
    color: #fff;
}
footer p > a {
    text-decoration: none;
    color: var(--bluegradient1);
}
footer p > span {
    padding-top: 3px;
}
footer > .row .heading {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}
footer > .row {
    padding: 70px 0;
}
/* FOOTER end  */

/* HEADER start */
@media (max-width: 992px) {
    .hide {
        display: none;
    }
}
/* HEADER end */
