.price {
    font-size: 35px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.buy {
}
.buy:hover,
.buy:hover .number-border,
.buy:hover .number,
.buy:hover .h3mar {
    background-color: transparent;
    color: white;
}
.buy:hover {
    background: linear-gradient(
        var(--bluegradient1),
        var(--bluegradient2),
        var(--bluegradient3)
    );
}
.hower1,
.hower2 {
}
.hower1 {
    display: block;
}
.hower2 {
    display: none;
    text-decoration: none;
    font-size: medium;
    background-color: white;
    text-transform: uppercase;
    height: 53px;
    line-height: 53px;
    margin-left: 20px;
    margin-right: 20px;
}
.bbtn {
}
.bbtn:hover .hower1 {
    display: none;
}
.bbtn:hover .hower2 {
    display: block;
}
.buy:hover > .bbtn > .hower2 {
    display: block;
}
.buy:hover > .bbtn > .hower1 {
    display: none;
}
