.gallery-container {
    text-align: center;
    margin-top: 50px;
}
.gallery-container .title {
    margin-bottom: 20px;
}

#gallery-filters {
    padding: 80px 0 50px 0;
}
#gallery-filters > a {
    color: #222;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 30px;
}

#gallery-filters > a:first-child {
    color: var(--bluegradient1);
    padding-left: 0px;
}
.gallery-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1em;
}

.gallery-img {
    max-width: 100%;
    height: auto;
}
