.level2box {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 15%;
    top: 55%;
    background-color: red;
    text-align: center;
    bor
}
.level2 {
    margin-top: 20px;
}