/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';
/* components */
@import '../components/blog.css';
@import '../components/button.css';
@import '../components/choose-your-plan.css';
@import '../components/feedback-slider.css';
@import '../components/footer-form.css';
@import '../components/footer-socials.css';
@import '../components/gallery.css';
@import '../components/out-latest-full-img.css';
@import '../components/statistics.css';
@import '../components/hidden-menu.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */



    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-left: calc((100% - 85%) / 2);
}

.logo {
    height: 30px;
    object-position: center;
}

.header-menu > .link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin-left: 20px;
}

.header-menu > :first-child {
    color: var(--bluegradient1);
}

.header-menu > .link:hover {
    color: var(--bluegradient1);
}

/* HEADER-end  */

/* THIS IS ME start */
.name {
    font-size: 60px;
    margin: 20px 0;
    text-transform: uppercase;
    color: #222;
}

/* THIS IS ME end */

/* ABOUT ME start  */
.about-me-container > .row {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.about-me-container .about-me-img {
    max-width: 100%;
    height: auto;
}

.about-me-container .title {
    padding: 25px 0;
}

.about-me-container .description {
    text-transform: none;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .about-me-container .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .about-me-text .title {
        font-size: 20px;
    }
}

/* ABOUT ME end */

/* MY OFFERED SERVICES start */
.services-container {
    text-align: center;
    margin-top: 50px;
}
.title {
    font-size: 36px;
    font-weight: 600;
}
.service-btn {
    text-decoration: none;
    color: #222;
    font-weight: 600;
}
.service-icon {
    font-size: 30px;
    padding: 25px 0;
}
.service-title {
    margin: 25px 0;
}
.service-title:hover {
    background-image: linear-gradient(to right, #8490ff, #62bdfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* MY OFFERED SERVICES end */

/* BLUE ZONE STATISTICS start */
/* BLUE ZONE STATISTICS end */

/* FEATURED PROJECTS start  */
/* FEATURED PROJECTS end */

/* CLIENTS FEEDBACK start */
/* CLIENTS FEEDBACK end */

/* CHOOSE YOUR PLAN start */
.choose {
    font-size: 14px;
    color: #777;
    background-color: var(--grey);
    text-align: center;
}
.line {
    border-bottom: #eeeeee solid 0.5px;
    margin: 20px 10px 20px 10px;
}
.number-border {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 10em;
    border: #e2e5ff solid 2em;
    border-radius: 9999px;
    background-color: #edeeff;
}
.number {
    font-size: 2.4em;
    color: black;
    margin: 0.5em;
    background-color: #edeeff;
}
.price {
    font-size: 35px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.h3mar {
    color: black;
    margin-bottom: 5px;
}
/* CHOOSE YOUR PLAN end */

/* BLOG POSTS start */
/* BLOG POSTS end */

/* BLUE ZONE LOGOS start  */
/* BLUE ZONE LOGOS end */

/* FOOTER start */
/* FOOTER end  */
