/* base */
@import '../base/base.css';
@import '../base/layout.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* 3rd-party */
@import '../3rd-party/fontawesome.min.css';
/* components */

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* HEADER-start */
/* HEADER-end  */

/* THIS IS ME start */
/* THIS IS ME end */

/* ABOUT ME start  */
/* ABOUT ME end */

/* MY OFFERED SERVICES start */
.title {
    font-size: 36px;
}
.description {
    margin: 25px 0;
}
.services-container {
    text-align: center;
}
.service-btn {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #222;
}
/* MY OFFERED SERVICES end */

/* BLUE ZONE STATISTICS start */
/* BLUE ZONE STATISTICS end */

/* FEATURED PROJECTS start  */
/* FEATURED PROJECTS end */

/* CLIENTS FEEDBACK start */
/* CLIENTS FEEDBACK end */

/* CHOOSE YOUR PLAN start */
/* CHOOSE YOUR PLAN end */

/* BLOG POSTS start */
/* BLOG POSTS end */

/* BLUE ZONE LOGOS start  */
/* BLUE ZONE LOGOS end */

/* FOOTER start */
/* FOOTER end  */
